

.input1{
    width: 240px;
    border: none;
    padding: 10px;
    border-radius: 20px 2px 2px 20px;
    margin: 5px 2px;
    background: rgb(11, 228, 239);

}
.add{
    color: rgb(13, 117, 135);
    padding: 10px 13px;
    background: rgb(11, 228, 239);
    font-family: sans-serif;
    border-radius: 2px 20px 20px 2px;
    margin-top: 15px;
    border:none;
}

li{
    width: 310px;
    list-style: none;
    padding: 5px 2px;
    border-radius: 25px;
    margin: 5px 5px;
    background: rgb(222, 245, 245);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    border: 1px solid  rgb(11, 228, 239);
    
    
}
ul{

    padding: 10px;
    font-family: sans-serif;
    color: rgb(13, 117, 135);
    
}
.delBtn{
    color: rgb(13, 117, 135);
    padding: 10px 5px;
    background: rgb(251, 0, 255);
    border-radius: 20px 2px 2px 20px;
    font-family: sans-serif;
    border: none;
    
    
}
.editBtn{
    color: rgb(13, 117, 135);
    border: none;
    margin: 0 2px;
    padding: 10px 13px ;
    background: rgb(11, 228, 239);
    border-radius: 2px 20px 20px 2px;
    font-family: sans-serif;
    
}

h1{
    color:  rgb(11, 228, 239);
    font-family: sans-serif;
    margin-top: 50px;
}

